#torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu113
#torch-scatter torch-sparse torch-cluster torch-spline-conv torch-geometric -f https://data.pyg.org/whl/torch-1.11.0+cu115.html
biopython==1.78
trimesh
#libigl
bitarray==1.6.3
GridDataFormats==0.5.0
freesasa==2.1.0
tensorboard==2.4.1
networkx==2.5
